@charset "UTF-8";
/* CSS Document */
/* ADVERTISEMENT */
.bannerSec_content .bannerCont_txt {
    width: 100%;
    text-align: left;
    margin-bottom: 40px;
}
.bannerSec_content .bannerCont_txt h3 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 15px;
    color: #000000;
}
.bannerSec_content .bannerCont_txt p {
    color: #000000;
} 

/* SELL YOUR REQUIREMENTS */
.bannerSec_content2 {
    padding: 50px 0;
    width: 100%;
    display: inline-block;
    background: #f7f7f7;
}
.bannerSec_content2 .sell_your_requirement_content h3 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 15px;
    color: #000000;
}
.bannerSec_content2 .sell_your_requirement_content p {
    color: #000000;
    margin-bottom: 0;
}
.bannerSec_content2 .sell_your_requirement_content {
    max-width: 100%;
    text-align: left;
}
.bannerSec_content2 .your_requirement {
    text-align: left;
    margin-top: 20px;
}
.bannerSec_content2 .your_requirement .get_started {
    background: #000000;
}

/* NEWSLETTER */
.bannerSec_content3 {
    padding: 50px 0;
    width: 100%;
    display: inline-block; 
}
.bannerSec_content3 .newsletter_sec_content {
    max-width: 830px;
}
.bannerSec_content3 .newsletter_sec_content h3 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 15px;
    color: #000000;
}
.bannerSec_content3 .newsletter_sec_content p {
    color: #000000;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Montserrat-Light';
}
.bannerSec_content3 .newsletter_button {
    width: 75%;
    margin: 0 auto;
    margin-top: 25px;
}

/* ABOUT US */
.bannerSec_content4 {
    padding: 50px 0;
    width: 100%;
    display: inline-block; 
}
.bannerSec_content4 .about_cont p {
    font-family: 'Montserrat-Regular';
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 15px;
}
.bannerSec_content4 .about_cont h3 {
    font-family: 'SegoeUI-Bold';
    color: #000000;
    font-size: 60px;
    line-height: 75px;
}

/* SPARE PARTS */ /* NEW MACHINERY */ /* USED MACHINERY */
.bannerSec_content5 .spare_content {
    text-align: left;
    margin-bottom: 40px;
    width: 100%;
}
.bannerSec_content5 .spare_content h3 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 15px;
    color: #000000;
}
.bannerSec_content5 .spare_content p {
    color: #000000;
    font-size: 17px;
    line-height: 23px;
    font-family: 'Montserrat-Light';
}

/* USED MACHINERY */
.bannerSec_content6 {
    width: 100%;
    display: inline-block;
    padding-top: 40px;
    padding-bottom: 30px;
}
.bannerSec_content6 .san-section-bar {
    padding: 0;
}
.bannerSec_content6 .PrivacyPolicy_Outer {
    margin: 0;
}
.bannerSec_content6 .inner_privacyDiv {
    margin: 0;
}

/* APPS */
.bannerSec_content7 {
    padding: 30px 0;
    width: 100%;
    display: inline-block;
    background: #f7f7f7;
}
.bannerSec_content7 .newsletter_sec_content {
    max-width: 100%;
    text-align: left;
}
.bannerSec_content7 .newsletter_sec_content h3 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    color: #000000;
}
.bannerSec_content7 .newsletter_sec_content p {
    color: #000000;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Montserrat-Light';
}
.bannerSec_content7 .newsletter_sec_content p:last-of-type {
    margin-bottom: 0;
}
.bannerSec_content7 .newapps_sec2_button {
    margin-top: 25px;
}
.bannerSec_content7 .footer-play_store {
    justify-content: center;
}

/* SITEMAP */
.sitemap_sec5.bannerSec_content8 {
    background: #F7F7F7;
}
.bannerSec_content8 .sitemap_sec511 h3 {
    color: #000000;
}
.bannerSec_content8 .sitemap_sec511 p {
    color: #000000;
}