@charset "UTF-8";
/* CSS Document */
/* .new_grid_content img {
    margin-bottom: 10px;
    width: 70px;
} */
.position_rel {
    position: relative;
    box-shadow: 0 2px 6px #00000029;
    overflow: hidden;
    border-radius: 3px;
} 
.position_rel2 {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease 0s;
    visibility: hidden;
    overflow: hidden;
    background: #1F4790;
    padding: 20px;
    display: flex;
    align-items: center;
} 
.position_rel2 p {
    font-size: 15px;
    line-height: 22px;
    font-family: 'Montserrat-Regular';
    color: #ffffff;
    margin: 0;
}  
.position_rel a:hover .position_rel2 {
    visibility: visible;
    top: 0;
}   
.new_grid {
    position: relative;
    margin: 0;
    overflow: hidden;
}  
.new_grid_content {
    display: block;
} 
.new_grid_content .innerBox_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}    
.grey_line {
    height: 2px;
    background-color: #b8b8b8;
    width: 40%;
    position: absolute;
    top: 3px;
    right: 0;
}  
.grey_line:before {
    height: 2px;
    background-color: #b8b8b8;
    width: 25%;
    position: absolute;
    top: 0;
    right: 0;
} 
.sidebar-year_list {
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 0;
    float: left;
    padding: 0;
}   
/*=========== NEW CSS START ===========*/  
.new_grid {
    position: relative;
    margin: 0;
    overflow: hidden;
}  
.new_grid_content {
    display: block;
}  
.grey_line {
    height: 2px;
    background-color: #b8b8b8;
    width: 40%;
    position: absolute;
    top: 3px;
    right: 0;
}
.grey_line:before {
    height: 2px;
    background-color: #b8b8b8;
    width: 25%;
    position: absolute;
    top: 0;
    right: 0;
} 
.sidebar-year_list {
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 0;
    float: left;
    padding: 0;
} 
.position_rel a:hover .position_rel2 {
    visibility: visible;
    top: 0;
}  
.new_grid {
    position: relative;
    margin: 0;
    overflow: hidden;
}  
.new_grid_content {
    display: block;
}  
.grey_line {
    height: 2px;
    background-color: #b8b8b8;
    width: 40%;
    position: absolute;
    top: 3px;
    right: 0;
}  
.grey_line:before {
    height: 2px;
    background-color: #b8b8b8;
    width: 25%;
    position: absolute;
    top: 0;
    right: 0;
}   
.sidebar-year_list {
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 0;
    float: left;
    padding: 0;
} 
.plus_icon button, .plus_icon2 button {
    background: unset;
    border: 0;
    padding: 0;
}
.plus_icon span, .plus_icon2 span {
    color: #000000;
    border: 2px solid #4c4c4c;
    border-radius: 15px;
    padding: 2px;
    font-size: 14px;
    font-weight: 600;
}  
.plus_icon2 span {
    color: #ffffff;
    border: 2px solid #ffffff; 
}
/*============ NEW CSS END ============*/
.plus_icon2 {
    bottom: 10px;
    right: 10px;
    transform: rotate(1deg);
}
.plus_icon button, .plus_icon2 button {
    background: unset;
    border: 0;
    padding: 0;
}
.plus_icon span, .plus_icon2 span {
    color: #000000;
    border: 2px solid #4c4c4c;
    border-radius: 15px;
    padding: 2px;
    font-size: 14px;
    font-weight: 600;
}
.plus_icon2 span {
    color: #ffffff;
    border: 2px solid #ffffff;
}
.boxDescription_p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1F4790;
    border-radius: 3px;
    padding: 40px;
    text-align: left;
    display: flex;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: all .8s;
    flex-direction: column; 
}
.boxDescription_p h3 {
    font-family: 'SegoeUI-Bold';
    font-size: 25px;
    line-height: 37px;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 15px;
}
.boxDescription_p p {
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    font-family: 'Montserrat-Light';
    margin-bottom: 0;
    opacity: 0;
    transform: translateY(-20px);
    transition: all .66s cubic-bezier(0.0,0,0.2,1);
}
.boxDescription_p a {
    font-size: 17px;
    line-height: 23px;
    font-family: 'SegoeUI-Bold';
    color: #ffffff;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    border-radius: 2px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-top: 22px;
    opacity: 0;
    transform: translateY(-40px);
    transition: all .66s cubic-bezier(0.0,0,0.2,1);
}
.boxDescription_p.transition_c p, .boxDescription_p.transition_c a {
    opacity: 1;
    transform: translateY(0);
    transition-delay: .66s;
}
.para_text p {
    margin-bottom: 15px;
} 
