@charset "UTF-8";
@media (max-width: 1680px) {
.equipmemtBox_1 {
    grid-template-columns: 1fr 1fr;
}
}
@media (max-width: 1366px) {
.myRequirements_box ul {
    margin: 0;
}
.country {
    margin-left: 6px;
}
.sparePart_sec .form-check {
    padding-left: 0;
}
}
@media (max-width: 1199px) {
.mac_hines {
    gap: 20px;
}
.machineType_btns {
    gap: 25px;
}
.equipmemtBox_1 {
    grid-template-columns: 1fr;
}
.allEquip_list {
    width: 60%;
}
.allEquip_notification {
    width: 40%;
    padding-left: 20px;
}
.card.card-custom>.card-body {
    padding: 20px;
}
.equipmemtBox_2 {
    padding: 20px;
}
}
@media (max-width: 1024px) {
.chatBox_grid1 {
    width: 40%;
}
.chatBox_grid12 {
    width: 60%;
    padding: 12px;
}
.chatBox_sec211 {
    width: 45px;
    height: 45px;
}
.chatBox_sec212 h4 span:last-child {
    font-size: 12px;
}
.chatBox_sec212 h4 {
    font-size: 14px;
    line-height: 20px;
}
.chatBox_sec212 p {
    font-size: 13px;
    line-height: 18px;
}
.chat_header3 ul li img {
    height: 70px;
}
.chat_header3 ul li {
    width: 120px;
    padding: 6px;
}
}
@media (max-width: 991px) {
#kt_header_mobile_toggle {
    display: none;
}
#kt_header_mobile_topbar_toggle {
    margin-left: 15px !important;
}
.activitySec_box2 {
    padding-left: 20px;
}
.enquiriesSec_1 {
    text-align: left;
    margin-bottom: 15px;
}
.supportMsg_box {
    margin: 30px auto;
}
.supportMsg_box h4 {
    margin-bottom: 20px;
}
.supportMsg_box h5 {
    margin-bottom: 20px;
}
.subscriptionSec2 p {
    margin-bottom: 15px;
}
.chat_header1 h4 {
    font-size: 20px;
    line-height: 26px;
}
.header-mobile-fixed .header-mobile {
    background: #ffffff;
    border-bottom: 1px solid #ECF0F3;
}
}
@media (max-width: 767px) {
.recomended {
    margin-top: 20px;
}
.newProfile_sec {
    padding: 20px;
}
.content .card-body {
    padding: 20px;
}
.newProfile_sec2 {
    margin-bottom: 20px;
}
.require_sec1 p, .require_sec2 p {
    margin-bottom: 0;
}
.activitySec_box2 {
    width: 100%;
    max-width: 100%;
    padding-left: 0px;
    margin-top: 20px;
}
.bodyFlex_box {
    flex-direction: column;
}
.activitySec_box {
    max-width: 100%;
}
.grid_content .inner_content0 {
    height: 220px;
}
.enquiriesSec_2 ul li:last-child {
    border-bottom: unset;
    padding-bottom: unset;
    margin-bottom: unset;
}
.supportMsg_box {
    margin: 20px auto;
}
.supportMsg_box img {
    width: 300px;
}
.supportMsg_box h4 {
    font-size: 25px;
    line-height: 33px;
    margin-bottom: 20px;
}
.supportMsg_box h5 {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 20px;
}
.supportMsg_box img {
    margin-bottom: 20px;
}
.supportMsg_box p {
    margin-bottom: 20px;
}
.supportMsg_box p {
    margin-bottom: 20px;
}
.myRequirements_box ul {
    gap: 20px;
}
.subscriptionSec2 {
    margin-top: 15px;
}
.notification_list li {
    padding: 15px;
}
.chat_header1 h4 {
    font-size: 18px;
    line-height: 24px;
}
.chatBox_sec212 h4 {
    font-size: 14px;
    line-height: 19px;
}
.chatBox_grid12 .card-body {
    padding: 15px;
}
.notification_list li:last-child {
    margin-bottom: 0;
}
.chatBox_grid12 .messages {
    height: 100%;
}
.emptySec_box {
    width: 100%;
    margin-bottom: 20px;
}
.emptySec_box {
    margin-bottom: 20px;
}
.yourWanted_sec0 {
    margin-bottom: 20px;
}
.yourWanted_sec01>a {
    padding: 5px;
    width: 40px;
    height: 38px;
}
.yourWanted_sec01>a>span {
    font-size: 25px;
}
.chat_header3 ul li p {
    font-size: 13px;
}
.mac_hines {
    gap: 20px;
    flex-direction: unset;
}
.submit_btn {
    margin-top: 15px;
}
.marginBottom {
    margin-top: 15px;
}
.sparePart_sec .form-check {
    padding-left: 10px;
}
.sparePart_sec .col-form-label {
    text-align: left;
    padding-top: 0;
}
}
@media (max-width: 650px) {
.allEquip_list {
    width: 55%;
}
.allEquip_notification {
    width: 45%;
}
}
@media (max-width: 580px) {
.newProfile_sec {
    padding: 15px;
}
.content .card-body {
    padding: 15px;
}
.newProfile_sec2 {
    margin-bottom: 15px;
}
.grid_content .inner_content0 {
    height: 190px;
}
.imeage-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    align-content: stretch;
}
.editIcon_img {
    padding: 7px;
    height: 34px;
}
.editIcon_img span {
    font-size: 20px;
}
.heading_text h3, .recomended h3 {
    font-size: 20px;
    line-height: 28px;
}
.supportMsg_box img {
    width: 250px;
}
.supportMsg_box h4 {
    font-size: 22px;
    line-height: 28px;
}
.supportMsg_box h5 {
    font-size: 18px;
    line-height: 24px;
}
.supportMsg_box {
    margin: 15px auto;
}
.require_sec1 h4 {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 8px;
}
.chatBox_grid1 {
    width: 100%;
}
.chatBox_grid {
    flex-direction: column;
}
.chatBox_grid12 {
    width: 100%;
    padding: 15px;
}
.chat_header3 ul li {
    padding: 5px;
}
.chatBox_sec21 {
    padding: 10px;
}
.chat_header1 {
    gap: 10px;
}
.back_chats {
    height: 20px;
}
.back_chats span {
    color: #a1a1a1;
}
.chatBox_sec213 {
    display: block;
}
.allEquipments_sec {
    flex-direction: column-reverse;
}
.allEquip_notification {
    width: 100%;
    padding: 0;
}
.allEquip_list {
    width: 100%;
}
.card.card-custom>.card-body {
    padding: 15px;
}
.notify_sec .notify_list li {
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.allEquip_notification .notify_sec {
    height: 340px;
}
.equipmemtBox_2 {
    padding: 15px;
}
}
@media (max-width: 480px) {
.grid_content .inner_content0 {
    height: 120px;
}
.inner_content {
    margin-top: 8px;
}
.inner_content h4 {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 3px;
}
.inner_content p {
    font-size: 13px;
    line-height: 18px;
}
.messages .p-5 {
    padding: 10px !important;
}
.chatBox_grid12 .card-body {
    padding: 10px;
}
.myRequirements_box ul li {
    width: 100%;
}
.marginBottom {
    margin-top: 0;
}
.mac_hines {
    gap: 15px;
}
.sparePart_sec {
    padding: 0;
}
.machineType_btns {
    gap: 15px;
    flex-direction: column;
    align-items: flex-start;
}
.imgVideo_sec2 {
    padding: 10px;
}
}
@media (max-width: 450px) {
.imeage-grid {
    grid-template-columns: 1fr;
    gap: 20px;
}
.inner_content {
    margin-top: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}
.myRequirements_box ul {
    gap: 15px;
}
.bodyFlex_box {    
    flex-direction: column;
}
.heading_text h3, .recomended h3 {
    font-size: 18px;
    line-height: 24px;
}
.require_sec1 {
    padding: 10px;
}
.searchBar_box {
    margin-bottom: 15px;
}
.enquiriesSec_2 ul li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.blackNew_btn {
    padding: 10px 25px;
}
.supportMsg_box img {
    width: 200px;
}
.supportMsg_box h4 {
    font-size: 20px;
    line-height: 26px;
}
.supportMsg_box h5 {
    font-size: 16px;
    line-height: 21px;
}
.myRequirements_box ul li {
    width: 100%;
}
.myRequirements_box ul {
    gap: 15px;
}
.notification_list li {
    padding: 10px;
}
.subscrip_table .table tbody td {
    font-size: 13px;
    line-height: 18px;
    padding: 5px 7px;
    vertical-align: top;
}
.chat_header1 h4 {
    font-size: 16px;
    line-height: 21px;
}
.chat_header1 p {
    font-size: 13px;
    line-height: 18px;
}
.chat_header3 ul li {
    width: 100px;
}
.chat_header3 ul li img {
    height: 80px;
}
.chat_header2 button span {
    font-size: 18px;
}
.chatBox_sec211 {
    width: 45px;
    height: 45px;
}
.chatBox_sec212 p {
    font-size: 13px;
    line-height: 18px;
}
.chat_header3 ul li p {
    font-size: 12px;
    line-height: 17px;
}
.chat_footer {
    padding: 10px;
}
.input_files button span {
    font-size: 30px;
}
.chatBox_grid12 .card-body {
    padding: 10px;
}
.messages .p-5 {
    padding: 10px !important;
}
.subscriptionSec2 p {
    margin-bottom: 10px;
}
.subscrip_table .table thead th {
    padding: 5px 7px;
}
.subscrip_table {
    overflow-x: auto;
}
.subscrip_table .table {
    width: 450px;
}
.subscrip_table .table thead th {
    padding: 5px 10px;
}
.subscrip_table .table tbody td {
    font-size: 13px;
    line-height: 20px;
    padding: 10px 10px;
}
.action_btn {
    font-size: 12px;
    line-height: 20px;
    padding: 5px 10px;
    min-width: 104px;
}
.chat_header1 h4 {
    font-size: 16px;
    line-height: 20px;
}
.yourWanted_sec0 {
    margin-bottom: 15px;
}
.imgVideo_sec .file-upload span em {
    font-size: 13px;
    line-height: 18px;
}
}
@media (max-width: 360px) {
.supportMsg_box h5 {
    font-size: 14px;
    line-height: 20px;
}
.supportMsg_box p {
    font-size: 15px;
    line-height: 20px;
}
.heading_text h3, .recomended h3 {
    margin-bottom: 10px;
}
.mac_hines {
    gap: 10px;
    flex-direction: column;
}
.sparePart_sec .col-form-label {
    font-size: 14px;
    line-height: 19px;
}
}
@media (max-width: 350px) {
.machineType_btns div:first-child {
    gap: 10px;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}   
.machineType1 .year {
    width: 100%;
}
.machineType1 .year input {
    max-width: 100%;
    width: 100%;
}
.imgVideo_sec2 .file-upload input, .imgVideo_sec2 .file-upload span {
    height: 55px;
}
}